<h1>User Information Form</h1>
<form (ngSubmit)="onSubmit()" #emailForm="ngForm">
  <div class="form-group">
    <label for="email">Email: </label>
    <input type="email" class="form-control" id="email"
           required
           [(ngModel)]="model.email" name="email"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Email is required
    </div>
  </div>
  <br>
<button type="submit" class="btn btn-success" [disabled]="!emailForm.form.valid">Submit</button>

<!--<div [hidden]="!submitted">-->
<!--  <h2>You submitted the following:</h2>-->
<!--  <div class="row">-->
<!--    <div class="col-xs-3">Email:</div>-->
<!--    <div class="col-xs-9">{{ model.email }}</div>-->
<!--  </div>-->
<!--</div>-->

